{% extends "base.html" %}

{% block title %}
{{ _('Login') }}
{% endblock %}

{% block content %}

<div class="container">
{% if error %}
	<p class="error">{{ error }}</p>
{% endif %}
	<div class="login">
		<form action="" method="post" role="form">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<label for="username" >Username</label><br>
			<input type="text" name="username" class="form-control" required="true"><br>
			<label for="password">Password</label><br>
			<input type="password" name="password" class="form-control" required="true"><br><br>
			<input type="submit" value="Submit">
		</form>
		<a href="{{ url_for('password_reset') }}">{{ _('Forgot your password?') }}</a>
	</div>
</div>

{% endblock %}